{{- define "depRow" -}}
{{- range $i, $dep := . -}}
| [{{ $dep.Name }}]({{ $dep.URL }}) | {{ $dep.Version }} | {{ $dep.LicenceType }} |{{"\n"}}
{{- end -}}
{{- end -}}

## Third-party dependencies

This page lists the third-party dependencies used to build crossplane-function-cue.

### Direct dependencies

| Name | Version | Licence |
| ---- | ------- |---------|
{{ template "depRow" .Direct  }}

{{ if .Indirect }}
### Indirect dependencies

| Name | Version | Licence |
| ---- | ------- |---------|
{{ template "depRow" .Indirect  }}

{{ end }}
